
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/static/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Omnivore</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!-- Canonical SEO -->
	<link rel="canonical" href=""/>
	
	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/material-kit.css" rel="stylesheet"/>
      <script src="/static/js/bootstrap.min.js"></script>

</head>

<body class="landing-page">
    <nav class="navbar navbar-transparent navbar-absolute">
    	<div class="container">
        	<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            		<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
        		</button>
        		<a class="navbar-brand" href="">Omnivore</a>

        		<a class="navbar-brand" href="howitworks">How it works</a>

        	</div>

        	<div class="collapse navbar-collapse" id="navigation-example">
        		<ul class="nav navbar-nav navbar-right">
    				<li>
    					<a href="../components-documentation.html" target="_blank">
    						Log In 
    					</a>
    				</li>
    				<li>
						<a href="" target="_blank">
							Signup
						</a>
    				</li>
		            <li>
		                <a href="" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-twitter"></i>
						</a>
		            </li>
		            <li>
		                <a href="" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-facebook-square"></i>
						</a>
		            </li>
					<li>
		                <a href="" target="_blank" class="btn btn-simple btn-white btn-just-icon">
							<i class="fa fa-instagram"></i>
						</a>
		            </li>
        		</ul>
        	</div>
    	</div>
    </nav>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
          <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Let's get started!!!</h4>
          </div>
          <div class="modal-body">

       <div class="typeform-widget" data-url="https://siddnitr1.typeform.com/to/ng5wF9" style="width: 100%; height: 500px;" > </div> 
	       
	         <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com/examples/forms/registration-form-template/?utm_campaign=ng5wF9&amp;utm_source=typeform.com-9732737-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-registrationform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a>
	             </div>
          </div>

          <div id="conversation_results" ></div>

          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          </div>
      
    </div>
  </div>
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1423655156442-ccc11daa4e99?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');">
            <div class="container">
                <div class="row">
					<div class="col-md-12">
						<h1 class="title">Omnivore: A smart bot to find you delicious food!!!</h1>
	                    <h4>Omnivore is an intelligent bot which helps to decide what food to order using conversational UI </h4>
	                    <br />
	                    <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-danger btn-raised btn-lg">
							<i class="fa fa-play"></i> Watch video
						</a> -->
						<button type="button" class="btn btn-danger btn-raised btn-lg" id="myBtn">Let's get started!</button>
					</div>
                </div>
            </div>
        </div>

		<div class="main main-raised">
			<div class="container">
		    	<div class="section text-center section-landing">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">What is Travoquest</h2>
	                        <h5 class="description">Travoquest is an travel based service that allows the user to select what interest them and we provide them content. Travoquest is a travel based service with personal touch.
<br>
Our goal is to enhance travel experiences. So if you're a thrill seeking, foodie, with a love for history thats headed to Switzerland-Travoquest will send you relevant content so you could plan the perfect trip or to make the most out of your trip.

We live in a world of information overload. Some stuff is good, but most is bad. Travoquest does all the heavy lifting for you by sifting through all the bad and only providing you with the goods.</h5>
	                    </div>
	                </div>

					<div class="features">
						<div class="row">
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons">chat</i>
									</div>
									<h4 class="info-title">Interest Galore</h4>
									<p>We offer over 50 interests for you to choose from and the list continues to grow. You're sure to find a few interest and with the unlimited plan you can select as many as you like.</p>
								</div>
		                    </div>
		                      <div class="col-md-8">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons"></i>
									</div>
									<!-- <h4 class="info-title">First Feature</h4> -->
									<div class="row">
										<img src="/static/img/interests1.png" style="float: left; position: relative;width: 150%"> 

									</div>

								</div>
		                    </div>
		                  

		                </div>
					</div>
					<div class="features">
						<div class="row">
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons">chat</i>
									</div>
									<h4 class="info-title">Valuable Contents</h4>
									<p>If you dont learn or benefit from the content we send you, we have failed. Therefore we actively listen to our users and try to deliver the best content for every interest. We have a dedicated team to sift and filter the best content for you. links for people to be able to follow them outside the site.</p>
								</div>
		                    </div>
		                    <div class="col-md-8">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons"></i>
									</div>
									<!-- <h4 class="info-title">First Feature</h4> -->
									<div class="row">
										<img src="/static/img/interests1.png" style="float: left; position: relative; width: 150%;"> 

									</div>

								</div>
		                    </div>

		                </div>
					</div>
					<div class="features">
						<div class="row">
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons">chat</i>
									</div>
									<h4 class="info-title">The Premium Bonuses </h4>
									<p>With the premium plans we offer occasional bonuses such as international flights deals. A $15 upgrade could save you thousands! links for people to be able to follow them outside the site.</p>
								</div>
		                    </div>
		                             <div class="col-md-8">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons"></i>
									</div>
									<!-- <h4 class="info-title">First Feature</h4> -->
									<div class="row">
										<img src="/static/img/interests1.png" style="float: left; position: relative; width: 150%;"> 

									</div>

								</div>
		                    </div>

		                </div>
					</div>
	            </div>
	            <div class="typeform-widget" data-url="https://siddnitr1.typeform.com/to/ng5wF9" style="width: 100%; height: 500px;" > </div> 
	       
	         <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;" > powered by <a href="https://www.typeform.com/examples/forms/registration-form-template/?utm_campaign=ng5wF9&amp;utm_source=typeform.com-9732737-Basic&amp;utm_medium=typeform&amp;utm_content=typeform-embedded-registrationform&amp;utm_term=EN" style="color: #999" target="_blank">Typeform</a>
	             </div>

	                  <script>
	             (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() 
	         </script> 

	        	<div class="section text-center">
	                <h2 class="title">Feature and/or benefit </h2>

					<div class="team">
						<div class="row">
							<div class="col-md-4">
			                    <div class="team-player">
			                        <!-- <img src="/static/img/avatar.jpg" alt="Thumbnail Image" class="img-raised img-circle"> -->
			                        <h4 class="title"> Interest Galore 
 <br />
										<small class="text-muted"></small>
									</h4>
			                        <p class="description"> <a href="#"></a> We offer over 50 interests for you to choose from and the list continues to grow. You're sure to find a few interest and with the unlimited plan you can select as many as you like.
</p>
									<!-- <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-instagram"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-facebook-square"></i></a> -->
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <div class="team-player">
			                        <!-- <img src="/static/img/christian.jpg" alt="Thumbnail Image" class="img-raised img-circle"> -->
			                        <h4 class="title">Valuable Contents<br />
										<small class="text-muted"></small>
									</h4>
			                        <p class="description">If you dont learn or benefit from the content we send you, we have failed. Therefore we actively listen to our users and try to deliver the best content for every interest. We have a dedicated team to sift and filter the best content for you.
 <a href="#">links</a> for people to be able to follow them outside the site.</p>
									<!-- <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-twitter"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-linkedin"></i></a> -->
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <div class="team-player">
			                        <!-- <img src="/static/img/kendall.jpg" alt="Thumbnail Image" class="img-raised img-circle"> -->
			                        <h4 class="title">The Premium Bonuses
<br />
										<!-- <small class="text-muted">Model</small> -->
									</h4>
			                        <p>With the premium plans we offer occasional bonuses such as international flights deals. A $15 upgrade could save you thousands! 

<a href="#">links</a> for people to be able to follow them outside the site.</p>
									<!-- <a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-google-plus"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon"><i class="fa fa-youtube-play"></i></a>
									<a href="#pablo" class="btn btn-simple btn-just-icon btn-default"><i class="fa fa-twitter"></i></a> -->
			                    </div>
			                </div>
						</div>
					</div>

	            </div>


	        	<div class="section landing-section">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="text-center title">Contact us</h2>
							<h4 class="text-center description">Feel free to contact us 24-7.</h4>
	                        <form class="contact-form">
	                            <div class="row">
	                                <div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Name</label>
											<input type="email" class="form-control">
										</div>
	                                </div>
	                                <div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Email</label>
											<input type="email" class="form-control">
										</div>
	                                </div>
	                            </div>

								<div class="form-group label-floating">
									<label class="control-label">Your Messge</label>
									<textarea class="form-control" rows="4"></textarea>
								</div>

	                            <div class="row">
	                                <div class="col-md-4 col-md-offset-4 text-center">
	                                    <button class="btn btn-primary btn-raised">
											Send Message
										</button>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>

	            </div>
	        </div>

		</div>

	    <footer class="footer">
	        <div class="container">
	            <nav class="pull-left">
	                <ul>
	                    <li>
	                        <a href="">
	                            Omnivore
	                        </a>
	                    </li>
						<li>
	                        <a href="">
	                           About Us
	                        </a>
	                    </li>
	                    <li>
	                        <a href="">
	                           Blog
	                        </a>
	                    </li>
	                    <li>
	                        <a href="e">
	                            Licenses
	                        </a>
	                    </li>
	                </ul>
	            </nav>
	            <div class="copyright pull-right">
	                &copy; 2016, made with <i class="fa fa-heart heart"></i> by Omnivore
	            </div>
	        </div>
	    </footer>

	</div>
</body>

	<!--   Core JS Files   -->
	<script src="/static/js/jquery.min.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/material.min.js"></script>

	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="/static/js/nouislider.min.js" type="text/javascript"></script>

	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
	<script src="/static/js/bootstrap-datepicker.js" type="text/javascript"></script>

	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
	<script src="/static/js/material-kit.js" type="text/javascript"></script>
	<script type="text/javascript">
	$(document).ready(function(){
	
		$("#myBtn").click(function(){
        	$("#myModal").modal();
   		 });
	});
	</script>
</html>
